/* 
	CSS by Dan Høegh
	UCN MMD 2021

*/

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
}

body {
	font-family: sans-serif;
	padding: 0;
	margin: 0;
	line-height: 1.4;
}

h1 {
	margin: 0;
	padding: 2rem 0;
	font-size: 3rem;
	font-weight: 400;
}


.site-width {
	max-width: 1280px;
	margin: 0 auto;
}

header {
	background-image: linear-gradient(90deg, lightgreen, darkgreen);
}

/* code-along below here */
